  <table id='electricityHistoryTable'>
    <thead>
      <tr>
        <th>node</th>
        <th>spread_kwh</th>
        <th>time</th>
        
      </tr>
    </thead>
    <tbody>
{{#.}}
  <tr>
    <td> {{node}}</td>
    <td> {{spread_kwh}}</td>
    <td> {{time}}</td>
    
  </tr>
    {{/.}}
    </tbody>
  </table>