<table id='categoryListTable'>
    <thead>
      <tr>
        <th>cat</th>
        <th>subCat</th>
        <th>action</th>
      </tr>
    </thead>
  <tbody>
{{#categories}} 
  <tr id="{{id}}" class="{{name}}">
    <td class="{{id}}-edit" id="{{id}}-cat"> {{name}}</td>
    <td></td>
    <td>
      <button class='editProductBtn mr-2 btn-sm btn-dark'>修改</button>
      <button id="{{id}}-deleteProductBtn" class='deleteProductBtn btn-sm btn-danger'>删除</button>
      <div class ="row">
        <button id="{{id}}-cancelEditProductBtn" class='cancelEditProductBtn btn-sm btn-danger ml-3 mt-3 mr-2' >cancel</button>
        <button id="{{id}}-saveEditProductBtn" class='saveEditProductBtn btn-sm btn-success mt-3' >save</button>
      </div>
    </td>
  </tr>  
  {{#subCategory}}
  <tr id="{{id}}" class="{{name}}">
    <td> </td>
    <td class="{{id}}-edit" id="{{id}}-subcat"> {{name}}</td>
    
    <td>
      <button class='editProductBtn mr-2 btn-sm btn-dark'>修改</button>
      <button id="{{id}}-deleteProductBtn" class='deleteSubCatBtn btn-sm btn-danger'>删除</button>
      <div class ="row">
        <button id="{{id}}-cancelEditProductBtn" class='cancelEditProductBtn btn-sm btn-danger ml-3 mt-3 mr-2' >cancel</button>
        <button id="{{id}}-saveEditProductBtn" class='saveEditProductBtn btn-sm btn-success mt-3' >save</button>
      </div>
    </td>
  </tr>
  {{/subCategory}}
  
 {{/categories}} 
  </tbody>
</table>

