  <table id='transactionHistoryTable'>
    <thead>
      <tr>
       
        <th>cat</th>
        <th>sub cat</th>
        <th>amount</th>
        <th>month</th>
        <th>year</th>
       
      </tr>
    </thead>
    <tbody>
{{#.}}
  <tr>
  
    <td> {{cat}}</td>
    <td> {{_id}}</td>
    <td> {{total}}</td>
    <td> {{month}}</td>
    <td> {{year}}</td>
    
  </tr>
    {{/.}}
    </tbody>
  </table>