  <table id='transactionHistoryTable'>
    <thead>
      <tr>
       
        <th>category</th>
        <th>amount</th>
       
      </tr>
    </thead>
    <tbody>
{{#.}}
  <tr>
  
    <td> {{_id}}</td>
    <td> {{total}}</td>
    
  </tr>
    {{/.}}
    </tbody>
  </table>